
*.a
!libprotobuf.a

*.user

.DS_Store
build-*
.qmake.stash

DNAI/app/debug/

DNAI/\.vs/Duly/v15/

DNAI/lib/event_client/debug/

DNAI/lib/event_client/release/

DNAI/app/release/

DNAI/\.vs/config/

*.pdb

*.lib

DNAI/lib/DataComEvent/Library/protobuf/cmake/build/solution/\.vs/protobuf/v15/

DNAI/lib/DataComEvent/Library/protobuf/

Makefile

Makefile\.Debug

Makefile\.Release

DNAI/app/\.vs/

*.duly_app

*.Debug

*.Release

*.vs

*debug

*release

DNAI/lib/DataComEvent/release/

DNAI/lib/DataComEvent/debug/

DNAI/app/x64/Debug/

DNAI/lib/DataComEvent/x64/Debug/

DNAI/lib/event_client/x64/Debug/

DNAI/app/GeneratedFiles/

*.bsc

Gui/app/GeneratedFiles/

*.filters

*.vcxproj

*.TMP

*.dnai
