build-*/
Duly/x64/
Duly/release/
Duly/debug/
Duly/.vs/
Duly/Duly.sln

Duly/ClassDiagram\.cd

Duly/ClassDiagram1\.cd

Duly/\.vs/Duly/v15/

debug/

Duly/lib/libEventClient\.a

Duly/lib/EventClient/Livraison/libEventClient\.a
.DS_Sto*
Duly/Duly\.pro\.user
